{% extends 'index.html' %}

{% block content %}
    <p><strong>Main task:</strong></p>
    <p>Реализовать routes во Flask.</p>
    <p>Подвязать под них реализации из предыдущего задания. При необходимости, можно переделать реализации.</p>
    <p><strong>Примечания:</strong></p>
    <p>Все роуты для мини-заданий должны быть в 1 проекте. Т.е. в одном веб-приложении.</p>
    <hr>
    <p>В рамках этого задания не нужны шаблоны и т.п. Мы пока в эту сторону не смотрели. Достаточно, при переходе на роут сразу выводить связанную информацию. В простейшем формате. До более красивых и удобных шаблонов, форм и т.п. доберёмся в Django.</p>
    <p>При этом, если у вас достаточно свободного времени и желания, то вы можете сделать какую-то более продвинутую реализацию в дополнение к тому, что требуется в задании.</p>
{% endblock %}